<h2>Welcome <%= current_user.name %></h2>

<h4>Your Current Projects</h4>
<table>
  <% @projects.each do |project| %>
  <tr>
    <td><li><%= link_to project.name, project_path(project) %></li></td> 
  </tr>
  <% end %>
</table><br><br>

<%= link_to "Create a New Project", new_project_path %><br>